.dl {
  margin: 0.5rem 0 0 0;
  display: flex;
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}

.dl > dt {
  flex: 0 1;
  font-weight: bold;
}

.dl > dd {
  flex: 1 0;
  margin-inline-start: 0.2em;
  white-space: nowrap;
}
