.dl {
  margin: 1em 0 0 0;
  display: flex;
  flex-direction: row;
}

.dl > dt {
  flex: 0 1;
  font-weight: bold;
}

.dl > dd {
  flex: 1 0;
  margin-inline-start: 0.2em;
  white-space: nowrap;
}

.changeUp,
.changeDown {
  font-weight: bold;
  font-size: 0.9em;
}

.changeUp {
  color: darkred;
}
.changeDown {
  color: darkgreen;
}
